body{
    display: flex;
    flex-direction: column;
    margin:0px;
}

body > *{
    display: flex;
    flex-direction: row;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 6%;
    padding-bottom: 6%;
    font-family: "Roboto";
}


/*header stuff*/
.header{
    padding-top: 12px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between; 
    color: #9499A1;
}

#header-links{
    margin-left: auto;
    color: #9499A1;
}

#logo{
    border-radius: 50%;
}

/*hero stuff*/
.hero-container{
    align-content: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3%;
}

.hero-text{
    width: 50%;
    flex: 1;
}

#hero-img{
    width: 50%;
    flex: 1;
}

.hero-container button{
    background-color: #3B82F6;
    color: white;
    border: none;
    border-radius: 5px; /** todo needs chanigng probably**/
}

/*infobox stuff*/
.infobox-cntnr-cntnr{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-self: center;
    align-items: center;
    
}
.infobox-cntnr{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.infobox{
    display: flex;
    flex-direction: column;
}

.infobox img {
    border-radius: 10%;
}

/*qoute stuff*/
.quote-container{
    display: flex;
    flex-direction: column;
}

#quote{
    font-size: xx-large;
    font-style: italic;
}

#quotee{
    font-size: large;
    font-weight: bold;
    text-align: right;
}

/*signup stuff*/
.signup-card{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    background-color: #3B82F6;
    color: white;
    width: 100%;
    border-radius: 10px;
    padding: 4% 10%;
}

.signup-card-text{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.signup-card-text > * {
    margin: 0px;
}

.signup-card button{
    background-color: transparent;
    border-color: white;
    color: white;
    box-shadow: none;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
}

.header, .footer, .hero-container{
    background-color: #1F2937;
}
.footer, .hero-container{
    color: #FFF;
}

.quote-container{
    background-color: #E5E7EB;
}

a {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    margin: 0 16px;
}